@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><font face="Roboto">Welcome to Contoso University</font></h2>
        <p>
            <img src="~/images/pexels-photo-267853.jpg" alt="College" />
        </p>
    </div>
</div>
